@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 33%;
    border: 3px solid black;
    border-radius: 50px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
}
.nav-list{
    width: 70%;
    display: flex;
    align-items: center;
}
.nav-list li{
    list-style: none;
    padding: 10px 30px;
    font-size: 24px; 

}
.nav-list li a{
    text-decoration: none; 
    color: black;
}
.nav-list li a:hover{
    color: grey;
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;
}

.right{
    width: 30%;
    text-align: right;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin: 0px 25px;
    padding: 0px 15px;
    font-size: 20px;
}
.signup {
    padding: 0px 10px;
}
.signup li{
    list-style: none;
    padding: 10px 30px;
    font-size: 24px; 
}
.signup li a{
    text-decoration: none;
    color: black;
}
.signup li a:hover{
    color: grey;
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
}
.background-nav{
    background: rgb(140, 19, 216);
    background-size: cover;
}
.container{
    height: 1000px;
}
.background{
background: rgba(160, 32, 240, 0.432);
}
.foot{
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
}
.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    left: 5%;
    top: 15px;
}
.line{
    width: 33px;
    background-color: white;
    height: 3px;
    margin: 5px 3px;
}
@media only screen and (max-width:1140px){
    .nav-list{
        flex-direction: column;
    }
    .navbar{
        flex-direction: column;
        height: 477px;
        transition: all 0.7s ease-out;
    }
    .right{
        text-align: center;
        flex-direction: column;
    }
    .burger{
        display: block;
    }
    .h-nav-resp{
        height: 72px;
    }
    .v-class-resp{
        opacity: 0%;
    }
    .logo{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo img{
        width: 50%;
        border: 3px solid black;
        border-radius: 50px;
    }
}
